<section class="row" data-ng-controller="AuthenticationController">
	<div class="page-header">
		<h1>Registrate</h1>
	</div>

	<form name="userForm" data-ng-submit="userForm.$valid && signup()" class="form" novalidate autocomplete="off">
		<fieldset>

			<div class="row">
				<div class="col-md-6 form-group">
					<label for="username">Nombre de usuario</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Nombre de usuario" required/>
					<div ng-show="userForm.username.$dirty">
						<div ng-show="userForm.username.$error.required" class="text-color-danger">
							Nombre de usuario es obligatorio.
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 form-group">
					<label for="email">Correo electrónico</label>
					<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Correo electrónico" required email>
					<div ng-show="userForm.email.$dirty">
						<div ng-show="userForm.email.$error.required" class="text-color-danger">
							Correo electrónico es obligatorio.
						</div>
						<div ng-show="userForm.email.$error.email" class="text-color-danger">
							Correo electrónico no tiene un formato válido.
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 form-group">
					<label for="password">Contraseña</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Contraseña" required>
					<div ng-show="userForm.password.$dirty">
						<div ng-show="userForm.password.$error.required" class="text-color-danger">
							Contraseña es obligatorio.
						</div>
					</div>
				</div>
				<div class="col-md-6 form-group">
					<label for="confirmPassword">Confirmación de contraseña</label>
					<input type="password" id="confirmPassword" name="confirmPassword" class="form-control" data-ng-model="credentials.confirmPassword" placeholder="Confirmación de contraseña" compare-to="{{credentials.password}}">
					<div ng-show="userForm.confirmPassword.$dirty">
						<div ng-show="userForm.confirmPassword.$error.compareTo" class="text-color-danger">
							Los dos campos de contraseña deben de ser iguales.
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 form-group">
					<label for="firstName">Nombre</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="Nombre" required>
					<div ng-show="userForm.firstName.$dirty">
						<div ng-show="userForm.firstName.$error.required" class="text-color-danger">
							Nombre es obligatorio.
						</div>
					</div>
				</div>
				<div class="col-md-6 form-group">
					<label for="lastName">Apellido</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Apellido" required>
					<div ng-show="userForm.lastName.$dirty">
						<div ng-show="userForm.lastName.$error.required" class="text-color-danger">
							Apellido es obligatorio.
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 form-group">
					<label for="dateBirth">Fecha de nacimiento</label>
					<p class="input-group">
						<input type="date" class="form-control" datepicker-popup id="birthDate" name="birthDate" data-ng-model="credentials.birthDate" is-open="opened" show-button-bar="false" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true"  />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</p>
					<div ng-show="userForm.birthDate.$dirty">
						<div ng-show="userForm.birthDate.$error.required" class="text-color-danger">
							Fecha de nacimiento es obligatorio.
						</div>
					</div>
				</div>

				<div class="col-md-6 form-group">
					<label for="gender">Género</label>
					<p class="input-group">
						<label class="radio-inline">
  							<input type="radio" data-ng-model="credentials.gender" value="0"> Femenino
						</label>
						<label class="radio-inline">
  							<input type="radio" data-ng-model="credentials.gender" value="1"> Masculino
						</label>
					</p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 form-group">
					<label for="currency">Moneda</label>
					<select class="form-control" name="currency" data-ng-model="credentials.currency" required >
						<option value="" >Moneda</option>
						<option value="euro" >Euro (€)</option>
						<option value="dollar">Dollar ($)</option>
						<option value="pound">Libra (£)</option>
					</select>
					<div ng-show="userForm.currency.$dirty">
						<div ng-show="userForm.currency.$error.required" class="text-color-danger">
							Moneda es obligatorio.
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 form-group">
					<section >
						<div class="row">

							<div class="col-md-6 form-group">
								<label for="county">Provincia</label>
								<input id="county" type="text" name="county" ng-model="credentials.county" placeholder="Provincia" typeahead="data.literal for data in counties | filter:$viewValue | limitTo:8" class="form-control" ng-blur="validateCounty()" required>
								<div ng-show="userForm.county.$dirty">
									<div ng-show="userForm.county.$error.required" class="text-color-danger">
										Provincia es obligatorio.
									</div>
								</div>
							</div>
							

							<div class="col-md-6 form-group">
								<label for="population">Población</label>
								<input id="population" type="text" name="population" ng-model="credentials.population" placeholder="Población" typeahead="data.literal for data in populations | filter:$viewValue | limitTo:8" class="form-control" ng-blur="validatePopulation()" required>
								<div ng-show="userForm.population.$dirty">
									<div ng-show="userForm.population.$error.required" class="text-color-danger">
										Población es obligatorio.
									</div>
								</div>
							</div>
							
						</div>
					</section>
				</div>
			</div>
			

			<div data-ng-show="error" class="text-color-danger">
				<strong data-ng-bind="error"></strong>
			</div>

			<div class="form-group">
				<button type="submit" class="btn btn-large btn-primary" ng-disabled="userForm.$invalid">Registrar</button>
			</div>

		</fieldset>
	</form>
</section>