html, body {
	font-family: 'Roboto', sans-serif;

	color: #212121;

	background-color: #f9f9f9;
}

.content {
	margin-top: 50px;
}

.container-header{
	width: auto;
	padding: 0 50px;
}

/*** Titles and texts
************************************************/
.page-header{
	/* Structure */
	border: none;
	padding-bottom: 0;

	/* Colors */
	color: #795548;
}

.page-header h1{
	/* Structure */
	font-weight: 400;
	font-size: 32px;

	/* Colors */
	color: #795548;
}

.text-color-danger{
	color: #db4437;
}


/*** Navigation Bar 
************************************************/
.navbar{
	/* Structure */
	min-height: 64px;
  	box-shadow: 0 2px 5px rgba(0,0,0,0.26);

	/* Colors */
	background: #795548;
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:active,
.navbar-brand:focus{
	/* Structure */
	padding: 0;
	line-height: 64px;
	font-size: 24px;

	/* Colors */
	color: #ffffff;
}

.navbar-nav > li > a{
	/* Structure */
	padding: 0 15px;
	line-height: 64px;
	font-size: 18px;

	/* Colors */
	color: #ffffff;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:active,
.navbar-nav > li > a:focus{
	/* Colors */
	background-color: #8D6E63;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: #8D6E63;
}
/*** Forms
************************************************/
label{
	font-weight: 500;
}

.form-control,
.form-control:focus{
	background: transparent;
	border:none;
	border-bottom: 2px solid  #B8B8B8;
	border-bottom: 2px solid  rgba(0, 0, 0, .26);
	border-radius: 0;
	font-size: 18px;
	padding: 0 6px;

	-webkit-box-shadow: none;
	-moz-box-shadow:none;
   	box-shadow: none; 
	-webkit-transition: none; 
	-moz-transition: none; 
	-o-transition: none;
	transition: none; 
}

.form-control[disabled]{
	background: inherit;
}

.form-control:focus, .form-control:active, .form-control.active{
	/* Colors */
	border-bottom-color: #0091EA;
}

.input-group-btn .btn{
	padding: 6px 12px;
	box-shadow: none;
	background: transparent;
	border-bottom: 2px solid  #B8B8B8;
	border-bottom: 2px solid  rgba(0, 0, 0, .26);
}

.radio-inline{
	font-size: 18px;
	padding: 0 10px 0 25px;
}

.radio-inline input[type=radio]{
	height: 18px;
	width: 18px;
	margin-left: -25px;
}

/*** Validation
************************************************/
.ng-invalid.ng-dirty {
	border-color: #db4437;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/*** Buttons
************************************************/
.btn{
	border: none;
	border-radius: 2px;
	text-transform: uppercase;
	padding: 10px 16px;
  	box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}

.btn-primary{
	background-image: none;

	/* Colors */
	background-color: #0091EA;
}






.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}